<div class="form-group">
  <label for="comment">comment here</label>
  {{input value=comment id="comment"}}
</div>

<div class="form-group">
  <label for="user">User</label>
  {{input value=user id="user"}}
</div>
<button {{action 'saveFeedback'}}>Submit Comment</button>
